<div class="chat__dialog">
    <div class="chat__dialog-container">
        {{> 'chat-dialog-top/chat-dialog-top'}}
        <div class="chat__dialog-content custom-scrollbar">
            {{> 'chat-message-group/chat-message-group'}}
            {{> 'chat-message-group/chat-message-group'}}
            {{> 'chat-message-group/chat-message-group'}}
        </div>
        {{> 'chat-dialog-bot/chat-dialog-bot'}}
    </div>
</div>
