<label for="popup" class="label-for-popup">
    <img src="../asserts/photo.png" alt="">
</label>
<h1 class="user-name" style="visibility: {{user-name_visibility}}">Иван</h1>
<div class="popup">
    <input type="checkbox" id="popup" class="popup__state">
    <div class="popup__wrapper">
        <label for="popup" class="popup__bg"></label>
        <form action="" id="form-for-avatar" class="form-for-avatar form">
            <h2 class="form-for-avatar__title">Загрузите файл</h2>
            <label for="load-avatar" class="form-for-avatar__label">Выбрать файл на компьютере</label>
            <input type="file" name="avatar" accept=".jpg, .jpeg, .png" id="load-avatar" class="form-for-avatar__input">
            <div class="form__item">
                {{> 'button/button'}}
                <div class="form__item-status">Нужно выбрать файл</div>
            </div>
        </form>
    </div>
</div>
