.back-from-profile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 64px;
    box-sizing: border-box;
    background-color: rgba(251, 251, 251, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    cursor: pointer;

    @include flex-center;

    &:hover svg circle {
        fill: orange;
    }

    &:active svg circle {
        fill: black;
    }
}
