.profile {
    @include flex-vertical;
    align-items: center;
    width: 100%;
    height: 100%;

    &__content {
        @include flex-vertical;
        margin-top: 50px;
        width: 510px;
    }

    &__avatar {
        width: fit-content;
        margin-top: 60px;
    }
}
