<div class="popup popup_add">
    <input type="checkbox" id="popup-add" class="popup__state">
    <div class="popup__wrapper">
        <label for="popup-add" class="popup__bg"></label>
        <div class="popup__container">
            <h3 class="popup__title">Добавить пользователя</h3>
            <div class="popup__input">
                <input type="text" placeholder="Логин" id="add-user" class="form__item-input">
            </div>
            <button type="submit" class="button button-submit">Добавить</button>
        </div>
    </div>
</div>
<div class="popup popup_remove">
    <input type="checkbox" id="popup-remove" class="popup__state">
    <div class="popup__wrapper">
        <label for="popup-remove" class="popup__bg"></label>
        <div class="popup__container">
            <h3 class="popup__title">Удалить пользователя</h3>
            <div class="popup__input">
                <input type="text" placeholder="Логин" id="remove-user" class="form__item-input">
            </div>
            <button type="submit" class="button button-submit">Удалить</button>
        </div>
    </div>
</div>
