@import '../../styles/style.css';

.loader {
    width: 100%;
    height: 100%;
    @include flex-center;
}

.lds-dual-ring {
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid $color-link;
    border-color: $color-link transparent $color-link transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
