<ul>
    <li>
        <a href="./main.hbs">Чат</a>
    </li>
    <li>
        <a href="./main-with-dialog.hbs">Чат с диалогом</a>
    </li>
    <li>
        <a href="./500.hbs">500</a>
    </li>
    <li>
        <a href="./404.hbs">404</a>
    </li>
    <li>
        <a href="./authorization.hbs">Авторизация</a>
    </li>
    <li>
        <a href="./registration.hbs">Регистрация</a>
    </li>
    <li>
        <a href="./profile.hbs">Профиль</a>
    </li>
</ul>
