{{!< desktop}}

<section class="chats">
    <div class="chats__left-column">
        {{> 'chat-list-top/chat-list-top'}}
        {{> 'chat-list/chat-list'}}
    </div>
    <div class="chats__right-column">
        {{> 'chat-dialog/chat-dialog'}}
    </div>
    {{> 'chat-popups/chat-popups'}}
</section>
