{{!< desktop}}

<section class="chats">
    <div class="chats__left-column">
        {{> 'chat-list-top/chat-list-top'}}
        {{> 'chat-list/chat-list'}}
    </div>
    <div class="chats__right-column">
        <div class="chats__meeting-wrapper">
            <p class="chats__meeting">Выберите чат чтобы отправить сообщение</p>
        </div>
    </div>
</section>
