---
text: 'Сохранить'
user-name_visibility: 'hidden'
---

{{!< desktop}}

<section class="profile">
    <div class="profile__avatar">
        {{> 'profile-wrapper/profile-wrapper'}}
    </div>
    <form action="" name="profile-change-password" class="form profile__content">
        <div class="profile__item">
            <label for="profile__oldPassword" class="profile__label">Старый пароль</label>
            <input class="profile__input" type="password" name="oldPassword" title="Старый пароль" id="profile__oldPassword" placeholder="*******">
        </div>
        <div class="profile__item">
            <label for="profile__newPassword" class="profile__label">Новый пароль</label>
            <input class="profile__input" type="password" name="newPassword" title="Новый пароль" id="profile__newPassword">
        </div>
        <div class="profile__item">
            <label for="profile__requirePassword" class="profile__label">Повторите новый пароль</label>
            <input class="profile__input" type="password" name="requirePassword" title="Повторите новый пароль" id="profile__requirePassword">
        </div>
        <div class="form__item-status">Пароли не совпадают</div>
        <div class="profile__actions">
            {{> 'button/button'}}
        </div>
    </form>
</section>
