---
text: 'Поменять'
user-name_visibility: 'hidden'
status-link-change-data: 'none'
status-link-change-password: "none"
status-profile-exit: "none"
status-submit: 'block'
---
{{!< desktop}}

<section class="profile">
    <div class="profile__avatar">
        {{> 'profile-wrapper/profile-wrapper'}}
    </div>
    {{> 'profile-data/profile-data'}}
</section>
