<div class="chat__item">
    <div class="chat__item-container">
        <div class="chat__avatar-wrapper">
            <div class="chat__avatar-content">
                <img src="../asserts/chat-avatar.png" alt="chat__avatar">
            </div>
        </div>
        <div class="chat__info">
            <div class="chat__info-top chat__info-row">
                <div class="chat__info-title">
                    <h3>Gendalf</h3>
                </div>
                <div class="chat__info-date">
                    <span>12:00</span>
                </div>
            </div>
            <div class="chat__info-bot chat__info-row">
                <div class="chat__info-message">
                    <p>И Human Interface Guidelines и Material Design рекомендуют...</p>
                </div>
                <div class="chat__info-unread">
                    <span>10</span>
                </div>
            </div>
        </div>
    </div>
</div>
