<section class="wrapper-page-error">
    <div class="content-page-error">
        <h1 class="content-page-error__title">\{{title}}</h1>
        <p class="content-page-error__paragraph">\{{cont}}</p>
        {{> 'links/back-to-chat/back-to-chat'}}
    </div>
</section>
