<div class="chat-list custom-scrollbar">
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
    {{> 'chat-item/chat-item'}}
</div>
